include LICENSE
recursive-include sphinx_bootstrap_theme_collapse *.py
recursive-include sphinx_bootstrap_theme_collapse *.js
recursive-include sphinx_bootstrap_theme_collapse *.css
exclude conf.py
exclude setup.py
