include LICENSE
recursive-include sphinx_bootstrap_divs *.py
recursive-include sphinx_bootstrap_divs *.js
recursive-include sphinx_bootstrap_divs *.css
exclude conf.py
exclude setup.py
exclude Makefile
exclude index.rst
